<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Lenses</title>
    <link rel="stylesheet" href="../styles/styleall.css" media="all">
    <link rel="stylesheet" href="../styles/maindesignNowItWork.css">
    <link rel="stylesheet" href="../styles/individual-style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header>
        <nav class="nav-bar-links"> <!--mae -->
            <div class="logo">
               
                <h2> <i class='bx bxs-sun' id="icon-sun"></i> Sunny  Lenses</h2>
            </div>

            <div class="nav-list-link">
                <ul>
                    <li class="nav-item"><a href="#" class="nav-link-a">STYLE</a></li>
                    <li class="nav-item"><a href="#" class="nav-link-a">TYPES</a></li>
                    <li class="nav-item"><a href="#" class="nav-link-a">PRICING</a></li>
                    <li class="nav-item"><a href="#" class="nav-link-a">ABOUT</a></li>
                    <li class="nav-item"><a href="#" class="nav-link-a">LOCATIONS</a></li>
                </ul>
            </div>
        </nav><!--mae -->
    </header>
    <main class="conteudo">
        <article>
            <h3>CUSTOM-TAILORED EYEWEAR</h3>
            <p>
                Protects from the sun, the wind, the dust that comes,
                Sharpens focus, brings clarity to tired eyes,
                On the face or forehead, it frames well,
                Eyewear is art, it's fashion, it's a journey.
            </p>
            <div class="btns">
                <button>SHOP MEN</button>
                <button>SHOP WOMEN</button>
            </div>
        </article>
    </main>
    <aside class="now-work">
        <div class="div-it-work">
            <h4>NOW IT WORK</h4>
            <p class="p-ti-work">
                This is the future of premium  eye wear! We are currently working on our new collection
            </p>
        </div>
        <div class="modelos-design">
           <div class="icon-design">
            <p class="ponto">.</p>
            <a href="#" class="a-icon"><img src="../photos/measuring-tape.png" alt="medidas" class="desegin-img"></a>
            <h6>Measured for You</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum.

            </p>

           </div>

           <div class="icon-design">
            <p class="ponto">.</p>
            <a href="#" class="a-icon"><img src="../photos/graphic-design.png" alt="desenho gráfico" class="desegin-img"></a>
            <h6>Design by You</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum.

            </p>
           </div>

           <div class="icon-design">
            <p class="ponto">.</p>
            <a href="#" class="a-icon"><img src="../photos/glasses.png" alt="lentes de visualização" class="desegin-img"></a>
            <h6>Made fom stretch </h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum.

            </p>
           </div>

           <div class="icon-design">
            <p class="ponto">.</p>
            <a href="#" class="a-icon"><img src="../photos/star.png" alt="estrela" class="desegin-img"></a>
            <h6>Protect guaranteed</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum.

            </p>
           </div>
        </div>
    </aside>
    <aside class="individual-style">
        


    </aside>
    
</body>
</html>